<div style="width: 900px; margin: 0 auto;">
    <h1><?php echo __('What is Virtooal Try On Mirror?') ?></h1>
    <div style="clear: both;">
        <div style="float: left; max-width: 680px;">
            <p>
                <?php echo __('The Try On Mirror from Virtooal allows your customers to try products using their own photo. Your conversions will grow and the number of complaints and returns will be effectively reduced.') ?>
            </p>
            <br />
            <h2><?php echo __('How it works') ?></h2>
            <p><strong><?php echo __('Setup') ?>:</strong></p>
            <ol style="list-style-type: decimal; margin-left: 30px;">
                <li><?php echo __('Go to Content > Try On Mirror > Dashboard') ?></li>
                <li><?php echo __('Click on "Register & Subscribe" button') ?></li>
                <li><?php echo __('Choose the modules you want to use, choose payment type and fill in the registration form.') ?></li>
                <li><?php echo __('After subscribing and registering log in to your Try On Mirror Admin.') ?></li>
                <li><?php echo __('Set your widget\'s colors, size and language.') ?></li>
                <li><?php echo __('Copy your API key and username from Virtooal\'s "Billing information/Profile settings" menu into Try On Mirror > Configuration') ?></li>
            </ol>
            <br />
            <p><strong>
                    <?php echo __('Products integration')?>:</strong></p>
            <ol style="list-style-type: decimal; margin-left: 30px;">
                <li><?php echo __('Go to Products > Catalog and edit one of your products') ?></li>
                <li><?php echo __('Find and open the "Try On Mirror" tab') ?></li>
                <li><?php echo __('Login to your Try On Mirror Admin if you not logged in yet.') ?></li>
                <li><?php echo __('Choose from your active moduls and setup the product.') ?></li>
            </ol>
        </div>
        <div style="float: left; max-width: 200px;">
            <img src="//setup.virtooal.com/assets/img/logo.png" alt="Virtooal" />
        </div>
    </div>
</div>