<?php 
	$product = $this->getProduct();
	$hasRealImageSet = ($product->getSmallImage() != null && $product->getSmallImage() != "no_selection");
?>
<div id="virtooal-admin-container">
<iframe src="//setup.virtooal.com/en/auth/index?url=<?php 
    echo $this->escapeHtml($this->getProductUrl()); 
    ?>&img=<?php 
    echo $hasRealImageSet?$this->escapeHtml($this->getImageUrl()):''; 
    ?>&title=<?php 
    echo $this->escapeHtml($product->getName());
    ?>&product_id=<?php 
    echo $this->escapeHtml($product->getId()); 
    ?>&iframe=1&platform=magento" frameborder="0" width="100%" style="min-height: 2000px"></iframe>
</div>