<div id="virtooal-mirror-fix-container">
    <div id="virtooal-mirror-fix-content">
        <div id="virtooal-mirror-title"></div>
        <div id="virtooal-mirror-fix-iframe"></div>
    </div>
</div>
<script>
	var virtooalMirrorSettings = {
		userName: "<?php echo $this->getUsername(); ?>",
		apiKey: "<?php echo $this->getApiKey(); ?>",
		mirrorWidth: 260,
		lang: "auto",
		title: "Virtual Try On",
		titleLeft: "Virtual",
		titleRight: "Try On",
		color: "000000", 
		color2: "000000", 
		side: "left",
		maxContentWidth: 0,
		marginFromContent: 10,
		fullscreenWidth: 1,
		browse: false,
		hideIfNoProduct: "auto"
	}
</script>
<script src="https://mirror.virtooal.com/assets/js/widget.js"></script>
<script src="https://mirror.virtooal.com/assets/js/crossmirror.php"></script>
<script>
	require([
		'jquery',
	], function ($) {
		$(function () {
			$('.product-item').each(function(i,el) {
				var pid = $(this).find('.price-box').data('product-id');
				$(this).prepend($('<button class="virtooal-tryon-btn primary action" style="display: none; position: absolute; z-index: 100;" data-virtooal_id="'+pid+'">TRY ON</button>'));
			})
		});
	});
</script>
